<p-dialog
  [(visible)]="display"
  [style]="{ width: '650px' }"
  [modal]="true"
  [closable]="false"
  [header]="mode==='edit' ? 'Editar Tipo de Proyecto' : 'Registrar Tipo de Proyecto'"
>
  <ng-template #content>
    <div class="flex flex-col gap-6">
        <input type="text" hidden id="idtipo_proyecto" [(ngModel)] ="editableTipoProyecto.idtipo_proyecto" />
     <div>
          <label for="nombre" class="block font-bold mb-3">Nombre</label>
          <input type="text" pInputText id="nombre" [(ngModel)] ="editableTipoProyecto.nombre"  required autofocus fluid />
      </div>
      <div>
          <label for="comentario" class="block font-bold mb-3">Comentario</label>
          <textarea id="comentario" pTextarea [(ngModel)] ="editableTipoProyecto.comentario"  required rows="3" cols="20" fluid></textarea>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancelar" icon="pi pi-times" text (click)="close()"  />
    <p-button label="Guardar" icon="pi pi-check" (click)="guardar()" />
  </ng-template>
</p-dialog>
